<p>prestataire-offres works!</p>
<!--
<button class="btn btn-block btn-success active" type="submit" (click)="ajouterOffre()">Ajouter une offre</button>
<form [hidden]="affFormHidden">
    <div class="card-body">
        <div class="form-group">
            <label>Nom</label>
            <input type="text" class="form-control" [(ngModel)]="user.nomUtilisateur" name="nomUtilisateur" placeholder="Enter your lastname">
        </div>
        <div class="form-group">
            <label>Prénom</label>
            <input type="text" class="form-control" [(ngModel)]="user.prenomUtilisateur" name="prenomUtilisateur" placeholder="Enter your firstname">
        </div>
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" [(ngModel)]="user.username" name="username" placeholder="Enter your username">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="text" class="form-control" [(ngModel)]="user.password" name="password" placeholder="Enter your password">
        </div>
        <div class="form-group">
            <label>Image</label>
             <input class="form-control-file" type="file" name="fileUForm" (change)="selectFile($event)" />
</div>
<div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
    <button type="button" class="btn btn-block btn-success" (click)="saveOffre()">Ajouter</button>
</div>
</div>
</form>
-->
<table class="table table-striped">
    <thead>
        <tr>
            <th>Description</th>
            <th>Tarif</th>
            <th>Photo</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let o of offresUser">
            <td>{{o.description}}</td>
            <td>{{o.tarif}}</td>
            <td><img src="data:image/jpeg;base64,{{o.image}}" height="200px" width="200px"></td>
            <td>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button type="button" class="btn btn-block btn-danger" (click)="deleteOffre(o.idOffre)">Supprimer</button>
                    <button type="button" class="btn btn-block btn-primary" (click)="updateOffre()">Editer</button>
                </div>
            </td>
        </tr>
        <!--
        <form [formGroup]="editForm">
            <div class=" row">
                <div class=" col-md-6 pl-md-1">
                    <div class="form-group">
                        <label> Description </label>
                        <input class=" form-control" [(ngModel)]="service.description" formControlName="description" placeholder="Description" type="text" />
                    </div>
                </div>

                <div class=" col-md-6 pl-md-1">
                    <div class="form-group">
                        <label> Tarif </label>
                        <input class=" form-control" [(ngModel)]="service.tarif" formControlName="tarif" placeholder="Tarif" type="text" />
                    </div>
                </div>
            </div>
            <div class=" row">
                <div class=" col-md-6 pl-md-1">
                    <div class="form-group">
                        <label> Image </label>
                        <input class=" form-control" [(ngModel)]="" formControlName="" placeholder="" type="text" />
                    </div>
                </div>
            </div>
        </form>-->
    </tbody>
</table>