<p>prestataire-profil works!</p>
<div class=" card-body">
    <form [formGroup]="editForm">
        <div class=" row">
            <div class=" col-md-6 pl-md-1">
                <div class="form-group">
                    <label> Nom </label>
                    <input class=" form-control" [(ngModel)]="user.nom" formControlName="nom" placeholder="Nom" type="text" />
                </div>
            </div>

            <div class=" col-md-6 pl-md-1">
                <div class="form-group">
                    <label> Prenom </label>
                    <input class=" form-control" [(ngModel)]="user.prenom" formControlName="prenom" placeholder="Prenom" type="text" />
                </div>
            </div>
        </div>
        <div class=" row">
            <div class=" col-md-6 pl-md-1">
                <div class="form-group">
                    <label> Username </label>
                    <input class=" form-control" [(ngModel)]="user.username" formControlName="username" placeholder="Username" type="text" />
                </div>
            </div>
        </div>
        <div class=" col-md-6 pl-md-1">
            <div class="form-group">
                <label> Date Naissance </label>
                <input class=" form-control" [(ngModel)]="user.dateNaissance" formControlName="dateNaissance" value="{{dateNaissance |date : 'dd/mm/yyyy'}}" type="date" />
            </div>
        </div>
        <div class=" col-md-6 pl-md-1">
            <div class="form-group">
                <label> Mail </label>
                <input class=" form-control" [(ngModel)]="user.mail" formControlName="mail" placeholder="Mail" type="text" />
            </div>
        </div>
        <div class=" col-md-6 pl-md-1">
            <div class="form-group">
                <label> Contact </label>
                <input class=" form-control" [(ngModel)]="user.contact" formControlName="contact" placeholder="Contact" type="text" />
            </div>
        </div>

        <div class=" col-md-6 pl-md-1">
            <div class="form-group">
                <label> Description </label>
                <textarea class=" form-control" [(ngModel)]="user.description" formControlName="description" placeholder="Description" type="text" rows="3"></textarea>
            </div>
        </div>
    </form>
    <button class="btn btn-block btn-success active" type="submit" (click)="updateProfilPrestataire()">Save</button>
</div>