<!--<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Liste des évènements
             </div>
            <div class="card-body">
                <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Budget</th>
                        <th>Categorie</th>
                        <th>Action</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let e of eventExtra">
                        <td>{{e.budget}}</td>
                        <td>{{e.categorie}}</td>
                        <td>
                            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                                <ngb-panel title="Suppr">
                                    <ng-template ngbPanelContent>
                                        <a href="javacript:void(0)" (click)="deleteEvents(e.idEvenement)" class="btn-rounded btn btn-default btn-outline">
                                            <i class="ti-close text-danger m-r-5"></i>
                                        </a>
                                    </ng-template>
                                </ngb-panel>
                            </ngb-accordion> 
                        </td>
                        <td>
                            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                                <ngb-panel title="Modif">
                                    <ng-template ngbPanelContent>
                                        mettre le formulaire prérempli
                                        <a href="javacript:void(0)" (click)="deleteEvents(e.idEvenement)" class="btn btn btn-rounded btn-default btn-outline mb-2 mb-md-0 m-r-5">
                                            <i class="ti-check text-success m-r-5"></i>
                                        </a>
                                    </ng-template>
                                </ngb-panel>
                            </ngb-accordion>   
                        </td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
    </div>
</div>-->
<!---->
<!--Recherche events-->
<div class=" content">
    <div class="row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h4 class="card-title font-16 text-uppercase">Recherche d'évènement</h4>
                </div>
                <div class=" card-body">
                    <form>
                        <div class=" row" [align]="align">
                            <div class=" col-md-6 pr-md-1">
                                <div class=" form-group">
                                    <label> Recherche par catégorie </label>
                                    <select class=form-control id="select">
                                        <option value=un selected>Un</option>
                                        <option value=deux>Deux</option>
                                        <option value=trois>Trois</option>
                                        <option value=categorie1>categorie1</option>
                                    </select> 
                                </div>
                            </div>
                            <div>
                                <br>
                                <button type="button" class="btn btn-rounded btn-outline-primary" (click)="getEventsByCategorie(event.categorie)">Rechercher</button>
                            </div>
                        </div>
                        <!--<button type="button" class="btn btn-rounded btn-outline-primary" (click)="getEventsById(event.idEvenement)">Rechercher</button>-->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>  
<!--Affiche events-->
<div class="row">
    <!-- column -->
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <!-- title -->
                <div class="d-md-flex align-items-center">
                    <div>
                        <h4 class="card-title font-16 text-uppercase">Liste des évènements</h4>
                        <!-- <h5 class="card-subtitle">Overview of Top Selling Items</h5> -->
                    </div>
                    <div class="ml-auto">
                        <div class="dl">
                            <select class="form-control">
                                <option value="0" selected>March 2017</option>
                                <option value="1">April 2017</option>
                                <option value="2">May 2017</option>
                                <option value="3">June 2017</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table v-middle nowrap">
                        <thead>
                            <tr>
                                <!--<th class="border-top-0">#</th>-->
                                <th class="border-top-0">NAME</th>
                                <th class="border-top-0">CATEGORIE</th>
                                <th class="border-top-0">BUDGET</th>
                                <th class="border-top-0">DATE DEBUT</th>
                                <th class="border-top-0">DATE FIN</th>
                                <th class="border-top-0">EVALUATION</th>
                                <th class="border-top-0">SHARE</th>
                                <th class="border-top-0"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let e of eventExtra">
                                <!--<td>{{e.idEvenement}}</td>-->
                                <td>
                                    <button
                                        type="button"
                                        style="border:none;background:transparent"
                                        ngbPopover={{e.description}}
                                        triggers="mouseenter:mouseleave"
                                    >
                                        {{e.nom}}
                                    </button>
                                </td>
                                <td>{{e.categorie}}</td>
                                <td>{{e.budget}} €</td>
                                <td>{{e.dateDebut | date:'dd/MM/yyyy'}}</td>
                                <td>{{e.dateFin | date:'dd/MM/yyyy'}}</td>
                                <td>
                                    <div>
                                        <ng-template #content1 let-modal>
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="modal-basic-title">Evaluer l'evenement</h4>
                                                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form>
                                                    form à add
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
                                            </div>
                                        </ng-template>
                                    
                                        <button class="btn btn-lg btn-outline-primary" style="border:none" (click)="open1(content1)">+</button>
                                        <div class="m-t-20">{{ closeResult }}</div>
                                    </div>                                    
                                </td>
                                <td>
                                    <a href="https://www.facebook.com/" class="facebook-share-button" data-show-count="false">
                                        <i class='fab fa-facebook fa-spin fa-3x'></i>
                                    </a>
                                    <a href="https://twitter.com/" class="twitter-share-button" data-show-count="false">
                                        <i class='fab fa-twitter fa-spin fa-3x'></i>
                                    </a>
                                    <a href="https://www.instagram.com/" class="twitter-share-button" data-show-count="false">
                                        <i class='fab fa-instagram fa-spin fa-3x'></i>
                                    </a>
                                    <a href="mailto:abc@example.com?subject = Feedback&body = Message" class="mail-share-button" data-show-count="false">
                                        <mat-icon class='fab fa-email fa-spin fa-5x'>alternate_email</mat-icon>
                                        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"  rel="stylesheet">
                                    </a>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-rounded btn btn-danger" (click)="deleteEvents(e.idEvenement)"><i class="far fa-trash-alt"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

